@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<PageTitle>BRentals.Hub</PageTitle>

<div>
    <Navbar></Navbar>
    <div style="display: flex; position: relative; flex-direction: row">
        <Sidebar/>
        <main style="flex: 1">
            <BlazoredToasts Position="ToastPosition.BottomRight"
                            Timeout="10"
                            IconType="IconType.FontAwesome"
                            SuccessClass="success-toast-override"
                            SuccessIcon="fa fa-thumbs-up"
                            ErrorIcon="fa fa-bug"/>
            @Body
        </main>
    </div>
</div>