<nav class="navbar brentals-navbar has-background-info-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-justify-content-space-between w-100">
        <NavLink class="navbar-item brentals-brand has-text-white" href="/">
            <i class="fas fa-book mr-2"></i>
            <h4 class="is-small has-text-white">BRentals</h4>
        </NavLink>

        <a @onclick="@ToggleBurger" role="button" class="navbar-burger has-text-white @BurgerMenuClass" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu @BurgerMenuClass">
        <div class="navbar-start">
            <div class="is-hidden-desktop">
                <NavLink href="/categories" class="icon-text">
                    <span class="icon">
                        <i class="fas fa-book-reader"></i>
                    </span>
                    <span>Categories</span>
                </NavLink>
            </div>
            <div class="is-hidden-desktop">
                <NavLink href="/rentals/books" class="icon-text">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                    <span>Book Rentals</span>
                </NavLink>
            </div>
            <div class="is-hidden-desktop">
                <NavLink href="/rentals/customers" class="icon-text">
                    <span class="icon">
                        <i class="fas fa-user-alt"></i>
                    </span>
                    <span>Customer Rentals</span>
                </NavLink>
            </div>
        </div>
        <div class="navbar-end">
        </div>
    </div>
</nav>

@code {

    private bool IsLoading { get; set; } = false;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    bool IsBurgerMenuVisible { get; set; }
    void ToggleBurger() => IsBurgerMenuVisible = !IsBurgerMenuVisible;

    string BurgerMenuClass => IsBurgerMenuVisible ? "is-active" : "";
}