<aside class="is-hidden-touch sidebar-wrapper">
    <div class="menu">
        <ul class="menu-list">
            <li>
                <NavLink href="/categories" class="icon-text">
                    <span class="icon">
                        <i class="fas fa-book-reader"></i>
                    </span>
                    <span>Categories</span>
                </NavLink>
            </li>

            <li>
                <NavLink href="/rentals/books" class="icon-text">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                    <span>Book Rentals</span>
                </NavLink>
            </li>

            <li>
                <NavLink href="/rentals/customers" class="icon-text">
                    <span class="icon">
                        <i class="fas fa-user-alt"></i>
                    </span>
                    <span>Customer Rentals</span>
                </NavLink>
            </li>
        </ul>
    </div>
</aside>