@page "/"

<PageTitle>BRentals</PageTitle>

<section class="hero is-fullheight">
    <div style="margin-top: -20rem" class="hero-body">
        <div class="container has-text-centered">
            <div class="m-5">
                <i class="fa-10x fas fa-book-reader"></i>
            </div>
            <p class="title">
                BRentals Demo App
            </p>
            <p class="subtitle">
                A demo book rental application using the azure cosmos repository, blazor and bulma.
            </p>
            <div class="tags is-inline-block">
                <div class="field is-grouped is-grouped-multiline">

                    <a target="_blank" href="https://dotnetdocs.dev/show/6a09ebde-bef4-43ba-be23-23657c65f300" class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark is-medium">
                                <i class="fab fa-brands fa-youtube"></i>
                            </span>
                            <span class="tag is-primary is-medium">.NET Docs Show Demo</span>
                        </div>
                    </a>


                    <a target="_blank" class="control" href="https://github.com/IEvangelist/azure-cosmos-dotnet-repository">
                        <div class="tags has-addons">
                            <span class="tag is-dark is-medium">
                                <i class="fab fa-brands fa-github-square"></i>
                            </span>
                            <span class="tag is-link is-medium">azure-cosmos-repository</span>
                        </div>
                    </a>


                    <a target="_blank" href="https://github.com/mumby0168/dotnet-docs-show" class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark is-medium">
                                <i class="fa fa-code"></i>
                            </span>
                            <span class="tag is-link is-danger is-medium">brentals-source</span>
                        </div>
                    </a>
                </div>
                
                <a target="_blank" href="https://bulma.io">
                  <img
                    src="https://bulma.io/images/made-with-bulma.png"
                    alt="Made with Bulma"
                    width="128"
                    height="24">
                </a>
            </div>
        </div>
    </div>
</section>