@page "/categories"
@using BRentals.DTOs

<section class="hero">
    <div class="hero-body">
        <p class="title">
            Book Categories
        </p>
        <p class="subtitle">
            View all your favourite book categories
        </p>
    </div>
</section>

<section class="section pt-0">
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Category</th>
            <th>Total Books</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Categories)
        {
            <tr>
                <td>
                    <NavLink href="@BooksPageUrl(category.Name)">
                        @category.Name
                    </NavLink>
                </td>
                <td>@category.BooksCount</td>
            </tr>
        }
        </tbody>
    </table>
</section>

@code {

    private List<BookCategoryDto> Categories { get; set; } = new()
    {
        new BookCategoryDto("Tech", 10),
        new BookCategoryDto("Fiction", 20),
        new BookCategoryDto("Non-Fiction", 50),
        new BookCategoryDto("Maths", 5),
        new BookCategoryDto("Science", 10),
    };

    private string BooksPageUrl(string category) =>
        $"categories/{category}/books";

}