@page "/rentals/books"

<section class="hero">
    <div class="hero-body">
        <p class="title">
            Book Rentals
        </p>
        <p class="subtitle">
            Search for rentals via ISBN.
        </p>

        <BookRentalSearchBox/>
        
    </div>
</section>


@code {

}