@page "/rentals/customers"

<section class="hero">
    <div class="hero-body">
        <p class="title">
            Customer Rentals
        </p>
        <p class="subtitle">
            Search for rentals via ISBN.
        </p>

        <CustomerRentalsSearchBox/>
        
    </div>
</section>


@code {

}