@page "/rentals"

<section class="hero">
    <div class="hero-body">
        <p class="title">
            Rentals
        </p>
        <p class="subtitle">
            Search for rentals via ISBN or username.
        </p>
    </div>
</section>

<section class="columns pt-5">
    <div class="column is-7">
        <div>
            <article class="tile is-child box content">
                <BookRentalSearchBox/>
            </article>
            <br/>
            <article style="min-height: 58vh" class="tile is-child box">
                <!-- Put any content you want -->
            </article>
        </div>
    </div>
    <div class="column is-5">
        <article style="min-height: 76.8vh" class="tile is-child box content">
            <UsernameRentalsSearchBox/>
        </article>
    </div>
</section>


@code {
    
}