@using System.ComponentModel.DataAnnotations
<div class="content pt-0">

    <EditForm EditContext="EditContext" OnValidSubmit="Search">
        <DataAnnotationsValidator/>

        <div class="field mb-0 has-addons">
            <p class="control is-expanded">
                <InputText id="brentals-isbn" @bind-Value="@ViewModel.Username" class="input is-medium" type="text" placeholder="mumby0168"/>
                <ValidationMessage For="() => ViewModel.Username"></ValidationMessage>
            </p>
            <p class="control">
                <button type="submit" class="is-medium button">
                    Search
                </button>
            </p>
        </div>
    </EditForm>

</div>

@code {

    private class CustomerRentalSearchViewModel
    {
        [Required]
        public string Username { get; set; } = null!;
    }

    private EditContext EditContext { get; set; } = null!;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private CustomerRentalSearchViewModel ViewModel { get; set; } = new();

    protected override void OnInitialized()
    {
        EditContext = new(ViewModel);
        base.OnInitialized();
    }

    private async Task Search() => 
        await OnSearch.InvokeAsync(ViewModel.Username);

}