@page "/categories/{category}/books"
@using BRentals.Hub.Features.Shared.Clients
@using BRentals.DTOs

<section class="hero">
    <div class="hero-body">
        <p class="title">
            @Category
        </p>
        <p class="subtitle">
            See all the books in the @Category category
        </p>
    </div>
</section>

<section class="section pt-0">
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Books)
        {
            <tr>
                <td>

                    @book.Id
                </td>
                <td>@book.Title</td>
            </tr>
        }
        </tbody>
    </table>
</section>

@code {

    [Parameter]
    public string Category { get; set; } = null!;

    [Inject]
    public IBRentalsApiClient Client { get; set; } = null!;

    private string? Continuation { get; set; }

    private List<BookDto> Books { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var (isSuccessful, books, continuation) =
            await Client.GetBooksInCategoryAsync(Category);

        if (isSuccessful)
        {
            Books = books;
            Continuation = continuation;
        }

        await base.OnInitializedAsync();
    }

}